log/*.log
tmp/**/*
tmp/restart.txt
log/*.pid
log/call_*
db/*.bkp
db/*.bak
db/*.sqlite3
*.swp
index/**/*
config/database.yml
webrat*.html
capybara*.html
*.log
lib/tasks/*~
vendor/gems
vendor/bundler_gems
vendor/cache
rerun.txt
.bundle/
.bundle/environment.rb
Gemfile.lock
ruby
