body {
  font-size: 62.5%; }

h2 {
  font-family: Helvetica, Arial, Sans, "Trebuchet MS", Verdana;
  font-size: 2.8em;
  margin-bottom: 12px; }

#container {
  width: 72%;
  margin: 20px 14%;
  min-width: 600px; }
