= stylesheet_link_tag "gadgets"
%h2 My Magnificent Gadgets
%table.index
  %thead
    %tr
      %th Name
      %th Description
      %th Weight
  %tbody
    - @gadgets.each do |g|
      %tr{:class => cycle("odd", "even"), :id => g.verbose_id}
        %td.twenty= link_to g.name, detail_gadget_path(g)
        %td.sixty= g.description
        %td.twenty= g.complete_weight
  %tfoot
    %tr
      %th Name
      %th Description
      %th Weight
